ConsoleKit
DIR_COLORS
OpenCL
acpi
at-spi2
bash
ca-certificates
ca-certificates.conf
conf.d
cron.d
cron.daily
cron.deny
cron.hourly
cron.monthly
cron.weekly
crontab
csh.env
cups
dbus-1
default
dhcpcd.conf
dhcpcd.duid
dhcpcd.secret
dispatch-conf.conf
drirc
e2fsck.conf
eclean
eixrc
env.d
environment
etc-update.conf
filesystems
fonts
gai.conf
genkernel.conf
gentoo-release
gpm
group
group-
gshadow
gshadow-
gtk-2.0
gtk-3.0
host.conf
hosts
init.d
initramfs.mounts
inittab
inputrc
iproute2
issue
issue.logo
kernel
kernels
ld.so.cache
ld.so.conf
ld.so.conf.d
local.d
locale.gen
localtime
login.defs
logrotate.d
machine-id
man_db.conf
metalog.conf
mime.types
mke2fs.conf
mlocate-cron.conf
modprobe.d
mtab
networks
nsswitch.conf
nvidia
openldap
os-release
pam.d
pango
papersize
passwd
passwd-
polkit-1
profile
profile.d
profile.env
protocols
rc.conf
resolv.conf
revdep-rebuild
rmt
rpc
rsyncd.conf
runlevels
sandbox.conf
sandbox.d
securetty
security
services
sgml
shadow
shadow-
shells
skel
ssh
ssl
sysctl.conf
sysctl.d
systemd
terminfo
timezone
udev
udhcpd.conf
updatedb.conf
vdpau_wrapper.cfg
vim
wgetrc
xdg
xinetd.d
xml
zsh
# -----------------------------
X11/xinit/
X11/Sessions/
X11/chooser.sh
X11/startDM.sh
portage/bin
portage/make.conf.catalyst
portage/make.profile
portage/package.mask
portage/postsync.d
portage/repo.postsync.d
portage/savedconfig
